<%- include('../template/head') -%>
<%- include('../template/navbar') -%>
<div class="align-items-center justify-content-center d-flex flex-column container-user">
    <%if(statusAdd) { %>
        <div class="alert <%= alertColorAdd %>" role="alert">
            <h2><%= statusAdd %></h2>
        </div>
    <% } %>
    <form class="form-horizontal container-form-register col-4" method="POST" action="/re_user">
        <div class="form-group pt-3" >
            <input class="form-control" for="employid" id="employid" name="employid" placeholder="Numero de empleado" type="text" required>
        </div>
        <div class="form-group pt-3 " >
            <input class="form-control" for="firstName" id="firstName" name="firstName" placeholder="Nombre(s)" type="text" required>
        </div>
        <div class="form-group pt-3 " >
            <input class="form-control" for="lastName" id="lastName" name="lastName" placeholder="Apellido(s)" type="text" required>
        </div>
        <div class="form-group pt-3 " >
            <input class="form-control" for="password" id="password" name="password" placeholder="Contraseña" type="password">
        </div>
        <div class="form-group pt-3" >
            <input class="form-control" for="rePassword" id="rePassword" name="rePassword" placeholder="Confirmar Contraseña" type="password">
        </div>
        <div class="form-group pt-3" >
            <select class="form-select ml-2" name="location" id="location" required>
              <option selected>Selecione Locacion...</option>
              <option value="TIJ_CGT">Tijuana</option>
              <option value="ENS_CGT">Ensenada</option>
              <option value="MXLI_GBP">Mexicali GBP</option>
              <option value="MXLI_GBP">Mexicali GNZ</option>
              <option value="CHIHUAHUA_TCG">Chihuahua</option>
              <option value="cd.juarez">Cd.Juarez</option>
              <option value="los cabos">Los Cabos</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>
    <div class="light mt-5 container-form">
        <p id="letter" class="invalid">Nota: la Contraseña debe contener <b>Mayusculas</b>, <b>minusculas</b>, <b>Numeros</b>, y una longitud <b>de 8 a 16 caracteres</b> </p>
    </div>
</div>


<%- include('../template/footer') -%>