<%- include('../template/head') -%>
<%- include('../template/navbar') -%>
<div class="d-flex flex-column justify-content-center align-items-center container-user align-content-center">
    <%if(status) { %>
        <div class="alert <%= alertColor %>" role="alert">
            <h2><%= status %></h2>
        </div>
    <% } %>
    <form action='/des_user' method='post' class="d-flex flex-column container-form-register justify-content-center align-center col-4 ">
        <div class="mt-3">
            <input class="form-control" type="text" name="username" id="username" placeholder="Id Usuario">
        </div>
        <div class="mt-3">
            <input class="form-control" type="password" name="password" id="password" placeholder="Contraseña">
        </div>
        <div class="mt-3">
            <input class="form-control" type="password" name="rePassword" id="rePassword" placeholder="Confirmar contraseña">
        </div>
        <button class="mt-3 btn btn-primary col-3">Desbloquear</button>
    </form>
    <div class="light mt-5 container-form">
        <p id="letter" class="invalid">Nota: la Contraseña debe contener <b>Mayusculas</b>, <b>minusculas</b>, <b>Numeros</b>, y una longitud <b>de 8 a 16 caracteres</b> </p>
    </div>
</div>

<%- include('../template/footer') -%>